        
.fileUpload{
    display: table;
    .ant-upload.ant-upload-drag .ant-upload{
        padding: 4px 16px;
    }

    .ant-upload.ant-upload-drag p.ant-upload-text{
        font-size: 12px;
    }
    &.readOnly{
        .ant-upload{
            display: none;
        }
        .ant-upload-list-item-card-actions{
            display: none;
        }
    }
    .ant-upload.ant-upload-drag p.ant-upload-drag-icon{
        margin-bottom: 5px;
    }
}